Repository radicazz/laya: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-check, isort-check, mdformat, yamllint, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: [--style=file]
        types_or: [c++, c]

  - repo: local
    hooks:
      - id: black-check
        name: black (uv)
        entry: uv run --project tools --group format black --check --diff
        language: system
        types: [python]
      - id: isort-check
        name: isort (uv)
        entry: uv run --project tools --group format isort --profile black --check-only --diff
        language: system
        types: [python]
      - id: mdformat
        name: mdformat (uv)
        entry: uv run --project tools --group format mdformat
        language: system
        types: [markdown]
      - id: yamllint
        name: yamllint (uv)
        entry: uv run --project tools yamllint
        language: system
        types: [yaml]
      - id: clang-tidy
        name: clang-tidy
        entry: uv run --project tools clang-tidy
        language: system
        types_or: [c++, c]
        args: [--config-file=.clang-tidy]
        require_serial: true

fix: rename window_args::position to initial_position to avoid name shadowing
  .gitignore
  include/laya/windows/window.hpp
  src/laya/window.cpp
Due: clang-tidy

fix: clang-tidy config issues
  .clang-tidy
  .clang-tidy-ci
  .pre-commit-config.yaml
Due: yamllint

chore: bump version to 0.1.3 and fix release workflow
  .github/workflows/create_release.yml
  CMakeLists.txt
Due: yamllint

feat: add run-examples-headless.sh for SSH testing
  scripts/README.md
  scripts/run-examples-headless.sh
Due: mdformat

feat: add keyboard and mouse input support
  .pre-commit-config.yaml
  examples/AGENTS.md
  examples/CMakeLists.txt
  examples/input/CMakeLists.txt
  examples/input/keyboard_mouse_state.cpp
  include/laya/input/keyboard.hpp
  include/laya/input/mouse.hpp
  include/laya/laya.hpp
  scripts/run-pre-commit.sh
  src/CMakeLists.txt
  src/laya/keyboard.cpp
  src/laya/mouse.cpp
Due: mdformat, yamllint, clang-tidy

chore: remove ci benchmark workflow
  .github/workflows/README.md
  .github/workflows/benchmark.yml
Due: mdformat, yamllint

feat(bench): add comprehensive benchmark utilities
  tests/benchmark/bench_utils.hpp
Due: clang-tidy

refactor(bench): restructure event benchmarks with summary
  tests/benchmark/test_events_benchmark.cpp
Due: clang-tidy

feat(bench): add rendering benchmark suite
  tests/CMakeLists.txt
  tests/benchmark/test_rendering_benchmark.cpp
Due: clang-tidy

docs(bench): add comprehensive benchmark documentation
  tests/benchmark/README.md
Due: mdformat

style(ci): reformat build workflow and remove benchmark artifacts
  .github/workflows/build.yml
Due: yamllint

chore(tests): remove redundant laya_all_unit_tests target
  tests/CMakeLists.txt
Due: none

docs: improved UX
  docs/getting-started.md
  docs/index.md
Due: mdformat

ci: only make docs action run when necessary
  .github/workflows/docs.yml
Due: yamllint
